<!-- BOTÓN PRINCIPAL -->
<button class="btn" (click)="onMainButtonClick()" [ngClass]="{ buy: type === 'buy', add: type === 'add' }">
  {{ type === "buy" ? "Buy" : "Add to cart" }}
</button>
<!-- SUGERENCIA / FORMULARIO -->
<div class="modal" *ngIf="showSuggestion()">
  <!-- Sugerencia de merch -->
  <div class="modal-content" *ngIf="sugestionIsProduct() === true">
    <h2>¿Quieres llevarte también la merch del concierto?</h2>
    <div class="product-info" *ngIf="product">
      <img [src]="product().imageUrl" alt="" class="product-img" />
      <div>
        <h3>{{ product().name }}</h3>
        <p>{{ product().description }}</p>
        <p class="price">Precio: {{ product().price }} €</p>
        <p class="cat">Categoría: {{ category?.name }}</p>
        <label>
          Cantidad:
          <input
            type="number"
            [min]="0"
            [max]="product().stockAvailable"
            [value]="productQty()"
            (input)="productQty.set($any($event.target).value)"
          />
          (Stock: {{ product().stockAvailable }})
        </label>
      </div>
    </div>
    <div class="actions">
      <button class="cancel" (click)="closeSuggestion()">Cancel</button>
      <button class="confirm" *ngIf="type === 'add'" (click)="onConfirmAdd()" [disabled]="isLoading">Add to cart</button>
      <button class="confirm buy" *ngIf="type === 'buy' && typePayment === 'buyOne'" (click)="onConfirmBuy()">Next</button>
    </div>
  </div>
  <app-card-info-form
    *ngIf="sugestionIsProduct() === false"
    class="form-data-card"
    (cardInfoSubmit)="procesarPago($event)"
  ></app-card-info-form>
</div>
