<div class="product-dashboard-container">
  @if (view === 'listProducts') {
  <h2 class="dashboard-title">Product</h2>
  <div class="product-table">
    <!-- Botón crear -->
    <div class="create-bttn-div">
      <button class="create-bttn" (click)="changeView('createUpdateProduct', null)">Add new Product</button>
    </div>

    <!-- Header tabla -->
    <div class="product-table-header">
      <div class="header-cell">Name</div>
      <div class="header-cell">Image</div>
      <div class="header-cell">Category</div>
      <div class="header-cell">Price</div>
      <div class="header-cell">Stock</div>
      <div class="header-cell">Active</div>
      <div class="header-cell">Actions</div>
    </div>

    <!-- Filas de productos -->
    <div class="product-row" *ngFor="let product of products()">
      <div class="cell name-cell">{{ product.name }}</div>

      <!-- Imagen -->
      <div class="cell image-cell">
        <img [src]="product.imageUrl || 'assets/imgs/default-product.png'" [alt]="product.name" class="product-avatar" />
      </div>

      <!-- Categoría -->
      <div class="cell category-cell">
        {{ getCategoryName(product.productCategory) }}
      </div>

      <!-- Precio -->
      <div class="cell price-cell">€{{ product.price }}</div>

      <!-- Stock -->
      <div class="cell stock-cell">{{ product.stockAvailable }} / {{ product.stockTotal }}</div>

      <!-- Activo -->
      <div class="cell active-cell">{{ product.isActive }}</div>

      <!-- Botones -->
      <div class="cell actions-cell">
        <button class="modify-cell" (click)="changeView('createUpdateProduct', product)">✏️</button>
        <button class="delete-cell" (click)="onDeleteProduct(product.slug)">🗑️</button>
      </div>
    </div>
  </div>
  } @else if (view === 'createUpdateProduct') {
  <app-company-create-update-product [product]="product" (changeView)="changeView($event, null)"></app-company-create-update-product>
  }
</div>
