<div *ngIf="isLoading" class="charging_concerts">Cargando conciertos...</div>
<div *ngIf="errorMessage" class="error_concerts">{{ errorMessage }}</div>
<div *ngIf="!isLoading && !errorMessage && categories.length > 0" class="slider-categories">
  <swiper-container slides-per-view="1" space-between="50" navigation pagination="true">
    @for (category of categories; track category.name) {
    <swiper-slide>
      <div class="slide-category">
        <img [src]="category.image" alt="" class="slide-image" />
        <div class="slide-content">
          <h2 class="slide-title">{{ category.name }}</h2>
          <h4 class="slide-description">{{ category.description }}</h4>
          <button class="slide-btn" routerLink="/shop">Entradas</button>
        </div>
      </div>
    </swiper-slide>
    } @empty {
    <li>There are no items.</li>
    }
  </swiper-container>
</div>
