<div class="settings-page">
  <div class="container page">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <label for="image">URL de la imagen de perfil</label>
              <input class="form-control form-margin" type="text" placeholder="URL de la imagen de perfil" formControlName="image" />
            </fieldset>
            <fieldset class="form-group">
              <label for="username">Nombre de usuario</label>
              <input class="form-control form-control-lg form-margin" type="text" placeholder="Nombre de usuario" formControlName="username" />
            </fieldset>
            <fieldset class="form-group">
              <label for="bio">Biografía</label>
              <textarea class="form-control form-control-lg form-margin" rows="8" placeholder="Breve biografía sobre ti" formControlName="bio"> </textarea>
            </fieldset>
            <fieldset class="form-group">
              <label for="email">Correo electrónico</label>
              <input class="form-control form-control-lg form-margin" type="email" placeholder="Correo electrónico" formControlName="email" />
            </fieldset>
            <fieldset class="form-group">
              <label for="password">Nueva contraseña</label>
              <input class="form-control form-control-lg form-margin" type="password" placeholder="Nueva contraseña" formControlName="password" />
            </fieldset>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Actualizar ajustes</button>
          </fieldset>
        </form>
        <hr />
      </div>
    </div>
  </div>
</div>
