<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

<div class="profile-page">
  <div class="row">
    <aside class="col-md-3 profile-sidebar">
      <div class="user-info text-center">
        <img class="user-photo" [src]="profile().image || 'https://static.productionready.io/images/smiley-cyrus.jpg'" alt="Profile Photo" />
        <h3 class="user-name">{{ profile().username }}</h3>
      </div>
      <nav class="profile-nav">
        <ul class="nav flex-column">
          <li class="nav-item" [class.active]="isActive('profile')">
            <a class="nav-link perfil" (click)="showProfile()">Profile</a>
          </li>
          <li class="nav-item settings" [class.active]="isActive('followers')">
            <a class="nav-link" (click)="showFollowers()">Followers</a>
          </li>
          <li class="nav-item settings" [class.active]="isActive('following')">
            <a class="nav-link" (click)="showFollowing()">Following</a>
          </li>
          <li class="nav-item settings" [class.active]="isActive('favorites')">
            <a class="nav-link" (click)="showFavorites()">Favourite concerts</a>
          </li>
          @if (this.isUser === true) {
          <li class="nav-item settings" [class.active]="isActive('settings')">
            <a class="nav-link" (click)="showSettings()">Settings</a>
          </li>
          <li class="nav-item logout">
            <a class="nav-link logout" (click)="logout()">Logout</a>
          </li>
          }@else if (this.isUser === false) { @if (profile().following === false) {
          <li class="nav-item followUser">
            <a class="nav-link" (click)="followUser(profile().username)">Follow User</a>
          </li>
          } @else if (profile().following === true) {
          <li class="nav-item unfollowUser">
            <a class="nav-link" (click)="followUser(profile().username)">Unfollow User</a>
          </li>
          } }
        </ul>
      </nav>
    </aside>
    <main class="col-md-9 profile-content">
      <div *ngIf="currentView === 'profile'" class="profile-details">
        <h2>Mi perfil</h2>
        <hr />
        <p class="profile-details-item"><strong>Nombre de usuario:</strong> {{ profile().username }}</p>
        <p class="profile-details-item"><strong>Email:</strong> {{ profile().email }}</p>
        <p class="profile-details-item"><strong>Biografía:</strong> {{ profile().bio }}</p>
      </div>
      <div *ngIf="currentView === 'settings'">
        <h2>Ajustes de mi perfil</h2>
        <hr />
        <app-settings-user></app-settings-user>
      </div>
      <div *ngIf="currentView === 'followers'" class="profile-followers">
        <h2>Followers: {{ countFollowers() }}</h2>
        @for (follower of followers(); track follower.email) {
        <div class="follower-item">
          <div class="follower-info">
            <img [src]="follower.image" alt="{{ follower.username }}" class="follower-avatar" />

            <span class="follower-username">{{ follower.username }}</span>
          </div>
          @if (this.currentUser.username !== follower.username) {
          <button
            class="follow-btn"
            [ngClass]="{
              following: follower.following,
              'not-following': !follower.following
            }"
            (click)="followUserFromComponent(follower.username)"
          >
            {{ follower.following ? "Unfollow" : "Follow" }}
          </button>
          }
        </div>
        } @empty {
        <li>No followers...</li>
        }
        <hr />
      </div>
      <div *ngIf="currentView === 'following'" class="profile-following">
        <h2>Following: {{ countFollowing() }}</h2>
        @for (followinguser of following(); track followinguser.email) {
        <div class="following-item">
          <div class="following-info">
            <img [src]="followinguser.image" alt="{{ followinguser.username }}" class="following-avatar" />
            <span class="following-username">{{ followinguser.username }}</span>
          </div>
          @if (this.currentUser.username !== followinguser.username) {
          <button
            class="follow-btn"
            [ngClass]="{
              following: followinguser.following,
              'not-following': !followinguser.following
            }"
            (click)="followUserFromComponent(followinguser.username)"
          >
            {{ followinguser.following ? "Unfollow" : "Follow" }}
          </button>
          }
        </div>
        } @empty {
        <li>No following...</li>
        }
        <hr />
      </div>
      <div *ngIf="currentView === 'favorites'" class="profile-favorites">
        <h2>Favorites: {{ countFavorites() }}</h2>
        @for (favorite of favorites(); track favorite.slug) {
        <div class="favorite-item">
          <div class="favorite-info">
            <img [src]="getConcertImageUrl(favorite.images[0])" alt="{{ favorite.name }}" class="favorite-avatar" />
            <span class="favorite-name">{{ favorite.name }}</span>
          </div>
          @if (favorite.favorited) {
          <button (click)="UnlikeConcertFromComponent(favorite.slug)" [class.favorited]="favorite.favorited" class="heart-button">
            <i class="ion-heart"></i>
          </button>
          } @else if (!favorite.favorited) {
          <button (click)="LikeConcertFromComponent(favorite.slug)" [class.favorited]="favorite.favorited" class="heart-button">
            <i class="ion-heart"></i>
          </button>
          }
        </div>
        } @empty {
        <li>No favorites...</li>
        }
        <hr />
      </div>
    </main>
  </div>
</div>
