<div class="profile-page">
  <div class="row">
    <aside class="col-md-3 profile-sidebar">
      <div class="user-info text-center">
        <img class="user-photo" [src]="profile().image || 'https://static.productionready.io/images/smiley-cyrus.jpg'" alt="Profile Photo" />
        <h3 class="user-name">{{ profile().username }}</h3>
      </div>
      <nav class="profile-nav">
        <ul class="nav flex-column">
          <li class="nav-item" [class.active]="isActive('profile')">
            <a class="nav-link perfil" (click)="showProfile()">Profile</a>
          </li>
          @if (this.isUser === true) {
          <li class="nav-item settings" [class.active]="isActive('settings')">
            <a class="nav-link" (click)="showSettings()">Settings</a>
          </li>
          <li class="nav-item logout">
            <a class="nav-link logout" (click)="logout()">Logout</a>
          </li>
          }@else if (this.isUser === false) { @if (profile().following === false) {
          <li class="nav-item followUser">
            <a class="nav-link" (click)="followUser(profile().username)">Follow User</a>
          </li>
          } @else if (profile().following === true) {
          <li class="nav-item unfollowUser">
            <a class="nav-link" (click)="followUser(profile().username)">Unfollow User</a>
          </li>
          } }
        </ul>
      </nav>
    </aside>
    <!-- Main Content -->
    <main class="col-md-9 profile-content">
      <div *ngIf="currentView === 'profile'" class="profile-details">
        <h2>Mi perfil</h2>
        <hr />
        <p class="profile-details-item"><strong>Nombre de usuario:</strong> {{ profile().username }}</p>
        <p class="profile-details-item"><strong>Email:</strong> {{ profile().email }}</p>
        <p class="profile-details-item"><strong>Biografía:</strong> {{ profile().bio }}</p>
      </div>
      <div *ngIf="currentView === 'settings'">
        <h2>Ajustes de mi perfil</h2>
        <hr />
        <app-settings-user></app-settings-user>
      </div>
    </main>
  </div>
</div>
