@if (this.concLength > 0) {
<div class="concert-card">
  <div class="concert-date">
    <span class="month">{{ mes }}</span>
    <span class="day">{{ dia }}</span>
    <span class="year">{{ anyo }}</span>
  </div>
  <div class="concert-info">
    <p class="concert-schedule">{{ horario }}</p>
    <p class="concert-venue">{{ concert.venue }}</p>
    <p class="concert-category">{{ concert.id_cat }}</p>
  </div>
  <button class="concert-like" [routerLink]="['/details', concert.slug]">Entradas ></button>
</div>
}
