<div *ngIf="this.concLength > 0" class="concert-card">
  <div class="concert-date">
    <span class="month">{{ mes }}</span>
    <span class="day">{{ dia }}</span>
    <span class="year">{{ anyo }}</span>
  </div>
  <div class="concert-info">
    <p class="concert-schedule">{{ horario }}</p>
    <p class="concert-venue">{{ venueName }}</p>
    <p class="concert-venue">{{ concert.name }}</p>
    <p class="concert-category">{{ artistName }}</p>
  </div>
  <button class="concert-like" [routerLink]="['/details', concert.slug]">Entradas ></button>
</div>
