/* Fondo general de la página de login/register */
.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f7; /* gris muy claro, limpio y moderno */
  font-family: "Poppins", sans-serif;
}
