@if (errorMessage) {
<div class="error_concerts">{{ errorMessage }}</div>
} @else if (!isLoading && !errorMessage) {
<h1 class="counter">Conciertos: {{ concerts.length }} Resultados</h1>
<div class="div_list_concerts">
  <ul infiniteScroll [infiniteScrollDistance]="4" [infiniteScrollThrottle]="150" (scrolled)="onScroll()">
    @for (concert of concerts; track concert.name) {
    <li>
      <app-card-concert [concert]="concert"> </app-card-concert>
    </li>
    } @empty {
    <li class="no_concerts">No hay conciertos disponibles</li>
    }
  </ul>
</div>
}
