@if (errorMessage) {
<div class="error_categories">{{ errorMessage }}</div>
} @else if (!isLoading && !errorMessage) {
<div class="div_list_categories">
  <ul infiniteScroll [infiniteScrollDistance]="4" [infiniteScrollThrottle]="150" (scrolled)="onScroll()">
    @for (category of categories; track category.category_id) {
    <li>
      <app-card-category [category]="category"></app-card-category>
    </li>
    } @empty {
    <li class="no_categories">No hay categorías disponibles</li>
    }
  </ul>
</div>
}
