.div_list_categories {
  margin-top: 40px;
}

.div_list_categories ul {
  display: flex;
  flex-wrap: wrap; /* 🔹 Permite saltar de fila */
  justify-content: center;
  padding: 0;
  margin: 0;
}

.div_list_categories ul li {
  width: calc(33.33% - 20px); /* 🔹 máximo 3 por fila */
  list-style: none;
  display: flex;
  justify-content: center;
}
