footer {
  background-color: #252525;
  color: white;
  width: 100%;
  margin-top: 5%;
  text-align: center;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column; /* primero el título arriba */
  align-items: center;
  padding: 40px 250px; /* espacio interno */
}

.footer_title {
  font-size: 40px;
  font-weight: 700;
  color: #195b98;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px; /* separa el título del contenido */
}

.footer_div {
  display: flex;
  justify-content: space-between; /* redes izq - texto der */
  align-items: center;
  width: 100%; /* ocupa todo el ancho */
  max-width: 1200px; /* opcional, para que no se estire demasiado */
}

.social_media {
  display: flex;
  flex-direction: column; /* título arriba, iconos debajo */
  align-items: center;
  gap: 10px;
}

.social_media_title {
  margin-bottom: 10px; /* separa el título de los iconos */
}

.social_icons {
  display: grid;
  grid-template-columns: repeat(2, auto); /* 2 columnas */
  gap: 15px; /* espacio entre iconos */
}

.logo_footer {
  width: 50px; /* ancho fijo */
  height: 50px; /* alto fijo */
  object-fit: contain; /* ajusta dentro del cuadro sin deformarse */
  transition: transform 0.2s ease;
}

.logo_footer:hover {
  transform: scale(1.1); /* animación al pasar el mouse */
}

.text_footer {
  padding: 0; /* quitamos el padding-top fijo */
}

.footer_links {
  display: flex;
  flex-direction: column;
  align-items: center; /* centra horizontalmente título y lista */
  text-align: center; /* centra el texto dentro de los li */
}

.footer_links ul {
  list-style: none; /* quita los puntos */
  /* elimina márgenes extra */
}

.footer_links ul li a {
  text-decoration: none; /* elimina el subrayado */
  color: white; /* cambia el color si quieres */ /* animación al pasar el mouse */
}
