<footer>
  <h3 class="footer_title">TicketWay</h3>
  <div class="footer_div">
    <div class="footer_links">
      <h4 class="footer_links">Enlaces útiles</h4>
      <br />
      <ul>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="social_media">
      <h4 class="social_media_title">Redes sociales</h4>
      <div class="social_icons">
        <a href="https://www.twitter.com" target="_blank"><img class="logo_footer" src="../../../../assets/logo/twitter logo.png" alt="" /></a>
        <a href="https://www.instagram.com" target="_blank"><img class="logo_footer" src="../../../../assets/logo/insta.png" alt="" /></a>
        <a href="https://www.whatsapp.com" target="_blank"><img class="logo_footer" src="../../../../assets/logo/whatsapp.png" alt="" /></a>
        <a href="https://www.tiktok.com" target="_blank"><img class="logo_footer" src="../../../../assets/logo/tiktok.png" alt="" /></a>
      </div>
    </div>
  </div>
</footer>
