<div class="product-category-dashboard-container">
  @if (view === 'listProductCategories') {
  <h2 class="dashboard-title">Product Categories</h2>
  <div class="product-category-table">
    <!-- Botón crear -->
    <div class="create-bttn-div">
      <button class="create-bttn" (click)="changeView('createUpdateProductCategory', null)">Add new Category</button>
    </div>

    <!-- Header tabla -->
    <div class="product-category-table-header">
      <div class="header-cell">Name</div>
      <div class="header-cell">Image</div>
      <div class="header-cell">Description</div>
      <div class="header-cell">Active</div>
      <div class="header-cell">Actions</div>
    </div>

    <!-- Filas -->
    <div class="product-category-row" *ngFor="let cat of categories()">
      <!-- Nombre -->
      <div class="cell name-cell">{{ cat.name }}</div>

      <!-- Imagen -->
      <div class="cell image-cell">
        <img [src]="cat.image || 'assets/imgs/default-product.png'" [alt]="cat.name" class="product-category-avatar" />
      </div>

      <!-- Descripción -->
      <div class="cell desc-cell">
        {{ cat.description || "No description" }}
      </div>

      <!-- Activo -->
      <div class="cell active-cell">
        {{ cat.isActive ? "Yes" : "No" }}
      </div>

      <!-- Botones -->
      <div class="cell actions-cell">
        <button class="modify-cell" (click)="changeView('createUpdateProductCategory', cat)">✏️</button>
        <button class="delete-cell" (click)="onDeleteProductCategory(cat.slug)">🗑️</button>
      </div>
    </div>
  </div>
  } @else if (view === 'createUpdateProductCategory') {
  <app-company-create-update-product-category
    [category]="category"
    (changeView)="changeView($event, null)"
  ></app-company-create-update-product-category>
  }
</div>
