<div *ngIf="page === 'categories'" class="slider-categories">
  <swiper-container slides-per-view="1" space-between="50" navigation="true" pagination="true" loop="true" autoplay='{"delay": 3000, "disableOnInteraction": false}'>
    <swiper-slide *ngFor="let category of categories">
      <div class="slide-category">
        <img [src]="getCategoryImageUrl(category.image)" alt="" class="slide-image" />
        <div class="slide-content">
          <h2 class="slide-title">{{ category.name }}</h2>
          <h4 class="slide-description">{{ category.description }}</h4>
          <button class="slide-btn" [routerLink]="['/shop/categories', category.slug]">Entradas</button>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
<swiper-container *ngIf="page === 'details'" class="details-carousel" slides-per-view="1" space-between="50" navigation="true" pagination="true" loop="true" autoplay='{"delay": 3000, "disableOnInteraction": false}'>
  <swiper-slide *ngFor="let concertSrc of concerts_details">
    <img [src]="getConcertImageUrl(concertSrc)" alt="" />
  </swiper-slide>
</swiper-container>
